In [70]:
import pandas as pd
import numpy as np

In [71]:
df = pd.read_csv("seoul_coffee_ver03.csv", encoding='cp949')
df

,인허가일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,long,lat
0,20200713,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,127.113106,37.516942
1,20200713,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,127.060378,37.578112
2,20200713,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,126.827523,37.560416
3,20200713,영업/정상,1,영업,NaN,13.20,서울특별시 관악구 신림동 608-30,서울특별시 관악구 난우길 20 지하1층 (신림동),애견용품할인매장,커피숍,126.918645,37.474780
4,20200713,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,126.999678,37.598753
...,...,...,...,...,...,...,...,...,...,...,...,...
48490,20190503,폐업,2,폐업,20200803.0,52.67,서울특별시용산구효창동13-2,서울특별시 용산구 백범로 313 지하3층 113호 (효창동 용산 롯데캐슬 센터포레),카페 다(Cafe DA),기타 휴게음식점,126.963058,37.539195
48491,20161226,영업/정상,1,영업,NaN,68.69,서울특별시광진구화양동17-48,서울특별시 광진구 군자로7길 4 1층 101102호 (화양동),베이글카페,기타 휴게음식점,127.069862,37.546537
48492,20120716,폐업,2,폐업,20200320.0,11.00,서울특별시종로구관철동44,NaN,C cafe 종각점,기타 휴게음식점,126.983928,37.569397
48493,20190919,영업/정상,1,영업,NaN,57.72,서울특별시마포구신수동93-102,서울특별시 마포구 광성로 17 1층 118호 (신수동 신촌숲아이파크),이디야 신촌숲아이파크점,기타 휴게음식점,126.934678,37.550913
48494,20100920,폐업,2,폐업,20140212.0,165.91,서울특별시송파구문정동516,서울특별시 송파구 충민로 66 (문정동 가든파이브 가블럭 T-B1070 T-B1071 ),엔제리너스 가든파이브점,기타 휴게음식점,127.124998,37.477578

## 해당 글자가 포함된 사업장명 인덱스 함수 정의

In [72]:
def s_str(data):
    global df
    select_index = df[df['사업장명'].str.contains(data)].index
    print(select_index)
    df = df.drop(index=select_index)
    print(df.shape)

In [73]:
df.shape

(48495, 12)

### df 사업장명중 애견 글자가 들어간 행 삭제

In [74]:
s_str('애견')

Int64Index([    3,  4236,  5554,  7333, 12045, 20740, 22375, 23775, 25621,
            44387, 44394, 44601, 45075],
           dtype='int64')
(48482, 12)

### df 사업장명중 국수 글자가 들어간 행 삭제

In [75]:
s_str('국수')

Int64Index([17, 1829, 8859, 14600, 15244, 15283, 18213], dtype='int64')
(48475, 12)

### df 사업장명중 베이글 글자가 들어간 행 삭제

In [76]:
s_str('베이글')

Int64Index([   26,   253,   989,  1138,  1386,  2057,  2222,  2317,  2934,
             3409,  5902,  6179,  7489,  7496,  9171,  9300,  9939,  9979,
            10125, 13132, 14519, 15380, 15469, 16317, 17069, 23991, 25757,
            25965, 26298, 26484, 27990, 28054, 28587, 34013, 36870, 44382,
            44820, 48491],
           dtype='int64')
(48437, 12)

### df 사업장명중 토스트 글자가 들어간 행 삭제

In [77]:
s_str('토스트')

Int64Index([   36,   318,  1526,  2127,  3363,  4446,  8956,  9973, 10765,
            11313, 11688, 13104, 14080, 14814, 15361, 15410, 15457, 18406,
            18538, 19545, 19568, 20466, 21304, 21399, 21688, 22700, 22807,
            23304, 24187, 25407, 25579, 27657, 28209, 33998, 39683, 43531,
            43791, 43847, 44486, 45001, 45063, 45253],
           dtype='int64')
(48395, 12)

### df 사업장명중 베이커리 글자가 들어간 행 삭제

In [78]:
s_str('베이커리')

Int64Index([   46,   335,   495,   521,  1083,  1187,  1618,  2492,  2659,
             2730,  3376,  3534,  3721,  4610,  4821,  5445,  5468,  5969,
             6348,  7136,  7140,  7907,  8126,  8410,  8612,  8812, 11240,
            11504, 12155, 12945, 12946, 13295, 13596, 13660, 16026, 16770,
            17116, 17242, 17473, 18198, 20599, 21738, 22197, 22201, 22556,
            23089, 23219, 23816, 23864, 24342, 24366, 24495, 24590, 24632,
            24789, 24946, 25176, 25506, 25528, 25862, 25970, 27200, 27874,
            27875, 28058, 28171, 28873, 30742, 32939, 34845, 38377, 39753,
            42958, 43779, 43835, 44050, 44519, 44594, 44599, 44657, 44692,
            44770, 44921, 44951, 45247, 45329, 46018, 46153, 46384],
           dtype='int64')
(48306, 12)

### df 사업장명중 쿠킹 글자가 들어간 행 삭제

In [79]:
s_str('쿠킹')

Int64Index([199, 5723, 6794, 7286, 12403, 12702, 16416, 16761, 21164, 25177], dtype='int64')
(48296, 12)

### df 사업장명중 핫도그 글자가 들어간 행 삭제

In [80]:
s_str('핫도그')

Int64Index([  267,   961,  1075,  3911,  4036,  4308,  4816,  5420,  5475,
             6831,  7301,  7541,  7869,  8471,  8665,  8805, 12300, 12883,
            13116, 13391, 15274, 16441, 19739, 20427, 21422, 26057, 28147,
            28765, 41821, 43725, 43964, 44058, 44121, 44374, 45445, 45740,
            46159, 48473],
           dtype='int64')
(48258, 12)

### df 사업장명중 쓰리팝 글자가 들어간 행 삭제

In [81]:
s_str('쓰리팝')

Int64Index([517, 2940, 9586, 15127, 16938, 20051, 22656, 23695, 44631, 44749,
            44750, 45127],
           dtype='int64')
(48246, 12)

### df 사업장명중 만화 글자가 들어간 행 삭제

In [82]:
s_str('만화')

Int64Index([  689, 13502, 13591, 15876, 31427, 33876, 35544, 42425, 44414,
            44494, 44512, 44651, 44670, 44677, 44681, 44698, 44699, 44763,
            44828, 44871, 44919, 45066, 45623],
           dtype='int64')
(48223, 12)

### df 사업장명중 GS25 글자가 들어간 행 삭제

In [83]:
s_str('GS25')

Int64Index([  376,   567,   674,   702,   785,   852,  1141,  1183,  1235,
             1342,  1668,  1880,  5109,  7131,  7844,  8525,  8938,  8944,
             9357,  9410,  9652, 10704, 10819, 12138, 12139, 12163, 12235,
            13129, 13570, 13580, 13982, 16977, 17982, 21314, 23475, 23598,
            23759, 25544, 26710, 28869, 29665, 46060],
           dtype='int64')
(48181, 12)

### df 사업장명중 CU 글자가 들어간 행 삭제

In [84]:
s_str('CU')

Int64Index([  308,   947,  1832,  1919,  3459,  3697,  6403,  7141,  7770,
             8701,  9005,  9276,  9415,  9468,  9487,  9664, 10302, 10705,
            12245, 12446, 12800, 13361, 13774, 13963, 15598, 15648, 16106,
            17440, 17817, 18486, 18488, 19676, 19792, 20982, 21449, 21873,
            22165, 22810, 23026, 25957, 26404, 42467, 44655, 45211, 46110],
           dtype='int64')
(48136, 12)

### df 사업장명중 BBQ 글자가 들어간 행 삭제

In [85]:
s_str('BBQ')

Int64Index([1052], dtype='int64')
(48135, 12)

### df 사업장명중 빵집 글자가 들어간 행 삭제

In [86]:
s_str('빵집')

Int64Index([1411, 19849, 22188, 23326, 45365], dtype='int64')
(48130, 12)

### df 사업장명중 스낵 글자가 들어간 행 삭제

In [87]:
s_str('스낵')

Int64Index([1491, 7999, 12782, 21701, 21753, 22906, 25351, 44472], dtype='int64')
(48122, 12)

### df 사업장명중 애니카페 글자가 들어간 행 삭제

In [88]:
s_str('애니카페')

Int64Index([1538], dtype='int64')
(48121, 12)

### df 사업장명중 휘트니스 글자가 들어간 행 삭제

In [89]:
s_str('휘트니스')

Int64Index([1712, 3502, 13668, 15516, 15990, 20396, 20866, 24094, 30027], dtype='int64')
(48112, 12)

### df 사업장명중 백미당 글자가 들어간 행 삭제

In [90]:
s_str('백미당')

Int64Index([  556,  1531,  1723,  2374,  8659,  9813, 11464, 12416, 12625,
            14278, 14543, 14640, 15589, 16577, 17672, 17999, 18745, 19305,
            20374, 20519, 21177, 26819, 46398],
           dtype='int64')
(48089, 12)

### df 사업장명중 아이스크림 글자가 들어간 행 삭제

In [91]:
s_str('아이스크림')

Int64Index([1772, 2208, 25833, 33865, 34972], dtype='int64')
(48084, 12)

### df 사업장명중 꽃방 글자가 들어간 행 삭제

In [92]:
s_str('꽃방')

Int64Index([1776], dtype='int64')
(48083, 12)

### df 사업장명중 봉구스 글자가 들어간 행 삭제

In [93]:
s_str('봉구스')

Int64Index([1874, 14441, 15746], dtype='int64')
(48080, 12)

### df 사업장명중 버거 글자가 들어간 행 삭제

In [94]:
s_str('버거')

Int64Index([ 1369,  2145,  2423,  2464,  2608,  2631,  4837,  5334,  7573,
            17679, 18461, 25222, 25550, 27028, 39267, 47588],
           dtype='int64')
(48064, 12)

### df 사업장명중 던킨 글자가 들어간 행 삭제

In [95]:
s_str('던킨')

Int64Index([ 2076,  5757, 10574, 13130, 14215, 14650, 17108, 17316, 19729,
            23073, 23170, 23277, 24488, 24712, 24851, 27319, 38829, 39852,
            40249, 41108, 41156, 41773, 42398],
           dtype='int64')
(48041, 12)

### df 사업장명중 로티보이 글자가 들어간 행 삭제

In [96]:
s_str('로티보이')

Int64Index([ 2097,  2352,  2544,  2860,  5281,  9165, 10843, 11006, 11626,
            13837, 15158, 15223, 22725, 25245, 40153, 40304, 45726],
           dtype='int64')
(48024, 12)

### df 사업장명중 고로케 글자가 들어간 행 삭제

In [97]:
s_str('고로케')

Int64Index([2184, 3035, 8261, 12111, 13509, 14975, 18924, 42318], dtype='int64')
(48016, 12)

### df 사업장명중 웹툰 글자가 들어간 행 삭제

In [98]:
s_str('웹툰')

Int64Index([2347], dtype='int64')
(48015, 12)

### df 사업장명중 매점 글자가 들어간 행 삭제

In [99]:
s_str('매점')

Int64Index([  319,  1349,  2354,  2520,  5246,  6493,  6776,  6876,  9603,
            11227, 11295, 12147, 12420, 13456, 13462, 13908, 15048, 15400,
            15655, 15670, 15675, 15688, 15726, 15760, 15827, 16002, 16159,
            16218, 16297, 22015, 22326, 22404, 22965, 23445, 23622, 25356,
            26993, 28165, 31141, 31151],
           dtype='int64')
(47975, 12)

### df 사업장명중 김밥 글자가 들어간 행 삭제

In [100]:
s_str('김밥')

Int64Index([ 1125,  2381,  5658,  6330,  6727,  9504, 13322, 18236, 20303,
            21974, 26672, 26868, 27698, 43975, 44881, 45058, 45065, 46658],
           dtype='int64')
(47957, 12)

### df 사업장명중 붕어빵 글자가 들어간 행 삭제

In [101]:
s_str('붕어빵')

Int64Index([2448, 18708], dtype='int64')
(47955, 12)

### df 사업장명중 떡볶이 글자가 들어간 행 삭제

In [102]:
s_str('떡볶이')

Int64Index([  363,   929,  4069,  4954,  6337, 13654, 15242, 16355, 16759,
            16855, 20713, 25603, 40362, 41035, 43815, 43981, 44393, 45134],
           dtype='int64')
(47937, 12)

### df 사업장명중 브레댄코 글자가 들어간 행 삭제

In [103]:
s_str('브레댄코')

Int64Index([2593, 9697, 13305, 15637, 16518, 27434, 41866], dtype='int64')
(47930, 12)

### df 사업장명중 이삭 글자가 들어간 행 삭제

In [104]:
s_str('이삭')

Int64Index([ 2642, 18098, 20769, 32129, 32648, 32849, 34952, 37557, 37712,
            38256, 38300, 38684, 41481, 41531, 43266, 43519, 43585, 47519,
            48246, 48302],
           dtype='int64')
(47910, 12)

### df 사업장명중 샌드위치 글자가 들어간 행 삭제

In [105]:
s_str('샌드위치')

Int64Index([ 3109,  3726,  9077, 10611, 10770, 10871, 11132, 11659, 13680,
            15065, 15172, 15183, 15559, 15747, 16078, 17104, 17413, 17603,
            17724, 17818, 18062, 18078, 18485, 18567, 19103, 19155, 19539,
            20420, 23262, 23766, 24136, 24331, 24339, 24557, 26607, 28183,
            28676, 35084, 39650, 39888, 39989, 40540, 41521, 42035, 42275,
            43743, 43745, 43970, 44196, 44463, 44516, 44875, 45987, 46592],
           dtype='int64')
(47856, 12)

### df 사업장명중 아워홈 글자가 들어간 행 삭제

In [106]:
s_str('아워홈')

Int64Index([ 1136,  2674,  3342, 10854, 14874, 15031, 15121, 15181, 15198,
            16724, 26969, 26992, 26998, 27005, 27078, 28300, 38812, 39659,
            39741, 40312, 40315, 46326],
           dtype='int64')
(47834, 12)

### df 사업장명중 PC 글자가 들어간 행 삭제

In [107]:
s_str('PC')

Int64Index([ 1924,  2433,  3515,  4195,  7750,  8231,  9565,  9873,  9999,
            12752, 14656, 14688, 14788, 16011, 17173, 17825, 18128, 20856,
            21321, 21490, 21821, 22820, 23014, 23127, 24591, 27518, 44344,
            44419, 44446, 44457, 44471, 44473, 44481, 44484, 44485, 44493,
            44497, 44498, 44499, 44585, 44637, 44639, 44646, 44656, 44674,
            44743, 44745, 44773, 44785, 44794, 44810, 44917, 44923, 44972,
            44993, 45050, 45054, 45079, 45119, 45120, 45124, 45138, 45141,
            45596],
           dtype='int64')
(47770, 12)

### df 사업장명중 호오떡 글자가 들어간 행 삭제

In [108]:
s_str('호오떡')

Int64Index([3835], dtype='int64')
(47769, 12)

### df 사업장명중 텔레콤 글자가 들어간 행 삭제

In [109]:
s_str('텔레콤')

Int64Index([4174, 7578, 17086, 21347, 21898, 28768], dtype='int64')
(47763, 12)

### df 사업장명중 도시락 글자가 들어간 행 삭제

In [110]:
s_str('도시락')

Int64Index([4214, 44957], dtype='int64')
(47761, 12)

### df 사업장명중 디저트 글자가 들어간 행 삭제

In [111]:
s_str('디저트')

Int64Index([  159,   644,   705,   855,  1303,  1426,  2318,  2387,  3402,
             4266,
            ...
            44660, 44779, 44959, 45013, 45082, 45099, 45264, 45973, 46047,
            46277],
           dtype='int64', length=147)
(47614, 12)

### df 사업장명중 꽈배기 글자가 들어간 행 삭제

In [112]:
s_str('꽈배기')

Int64Index([3370, 4520, 5970, 9823, 12964, 15354, 20984, 24461, 26192], dtype='int64')
(47605, 12)

### df 사업장명중 과자 글자가 들어간 행 삭제

In [113]:
s_str('과자')

Int64Index([  670,  1661,  3682,  4564,  4586,  6021,  7589,  8716, 10046,
            10363, 11861, 16947, 17118, 21192, 22926, 25697, 26809, 26841,
            27776, 28041, 33138, 43727],
           dtype='int64')
(47583, 12)

### df 사업장명중 책방 글자가 들어간 행 삭제

In [114]:
s_str('책방')

Int64Index([4706, 9046, 10180, 10516, 24286, 25568, 26268, 26887], dtype='int64')
(47575, 12)

### df 사업장명중 간식 글자가 들어간 행 삭제

In [115]:
s_str('간식')

Int64Index([4924, 8780, 8997, 11543, 21077], dtype='int64')
(47570, 12)

### df 사업장명중 마카롱 글자가 들어간 행 삭제

In [116]:
s_str('마카롱')

Int64Index([   85,   549,  1536,  2072,  2201,  2944,  3269,  4642,  4979,
             6365,  6544,  6955,  7267,  7918,  9000,  9229,  9688,  9847,
            10011, 10240, 11210, 11878, 12246, 12559, 12630, 12713, 12972,
            13001, 13046, 13415, 14729, 16044, 17101, 17285, 17532, 18056,
            20933, 21385, 22180, 23522, 23587, 23918, 24673, 24723, 25711,
            27190, 40352],
           dtype='int64')
(47523, 12)

### df 사업장명중 케익 글자가 들어간 행 삭제

In [117]:
s_str('케익')

Int64Index([  772,   985,  1111,  3186,  3312,  4649,  5067,  5285,  5457,
             6186,  9116,  9144,  9845, 12106, 15841, 16420, 19308, 20158,
            20431, 21006, 21524, 21592, 21947, 22249, 23354, 24774, 26403,
            26637, 30719, 40072, 41062, 43486],
           dtype='int64')
(47491, 12)

### df 사업장명중 도넛 글자가 들어간 행 삭제

In [118]:
s_str('도넛')

Int64Index([ 1408,  2890,  5105,  5756, 13974, 14346, 15278, 15647, 16152,
            18445, 19024, 24936, 25701, 26753, 35190, 41660, 41845, 42122,
            45677, 46327],
           dtype='int64')
(47471, 12)

### df 사업장명중 어묵 글자가 들어간 행 삭제

In [119]:
s_str('어묵')

Int64Index([5804, 23792], dtype='int64')
(47469, 12)

### df 사업장명중 미니스톱 글자가 들어간 행 삭제

In [120]:
s_str('미니스톱')

Int64Index([382, 9639, 10015, 10033, 13187, 14351, 16489, 24072, 33541, 33570], dtype='int64')
(47459, 12)

### df 사업장명중 사진관 글자가 들어간 행 삭제

In [121]:
s_str('사진관')

Int64Index([6840, 11028], dtype='int64')
(47457, 12)

### df 사업장명중 스포츠 글자가 들어간 행 삭제

In [122]:
s_str('스포츠')

Int64Index([782, 6898, 12829, 17260, 24497, 25186, 29451, 29755, 35126, 39208,
            44975],
           dtype='int64')
(47446, 12)

### df 사업장명중 이동통신 글자가 들어간 행 삭제

In [123]:
s_str('이동통신')

Int64Index([7910], dtype='int64')
(47445, 12)

### df 사업장명중 에너지짐 글자가 들어간 행 삭제

In [124]:
s_str('에너지짐')

Int64Index([8250], dtype='int64')
(47444, 12)

### df 사업장명중 족발 글자가 들어간 행 삭제

In [125]:
s_str('족발')

Int64Index([8594], dtype='int64')
(47443, 12)

### df 사업장명중 우동 글자가 들어간 행 삭제

In [126]:
s_str('우동')

Int64Index([5519, 7436, 9218, 38040], dtype='int64')
(47439, 12)

### df 사업장명중 코믹스 글자가 들어간 행 삭제

In [127]:
s_str('코믹스')

Int64Index([3471, 9225, 23639, 44456, 44573, 44904, 45948], dtype='int64')
(47432, 12)

### df 사업장명중 도서관 글자가 들어간 행 삭제

In [128]:
s_str('도서관')

Int64Index([  395,  1455,  1975,  3849,  4930,  5011,  5315,  5378,  6111,
             7366,  7374,  7629,  7739,  9574,  9726,  9781,  9863, 11016,
            11487, 14251, 14327, 14848, 16370, 16905, 17308, 17424, 17431,
            17675, 19895, 20566, 20862, 21202, 21242, 21420, 21635, 22174,
            22209, 22232, 23030, 23338, 24472, 25130, 25396, 25687, 25780,
            25800, 26733, 27690, 27735, 43806, 43901, 43931, 43932, 44020,
            44064, 44177, 44190, 44476, 45436, 46026, 46185, 46302, 46351],
           dtype='int64')
(47369, 12)

### df 사업장명중 보드카페 글자가 들어간 행 삭제

In [129]:
s_str('보드카페')

Int64Index([   98,  4262,  4612,  7167, 11944, 12631, 14452, 14886, 15111,
            16736, 19537, 20801, 22505, 44365, 44407, 44408, 44518, 44596,
            44659, 44676, 44762, 44887, 44892, 44911, 44914, 45011, 45089],
           dtype='int64')
(47342, 12)

### df 사업장명중 보드게임 글자가 들어간 행 삭제

In [130]:
s_str('보드게임')

Int64Index([697, 11188, 16772, 26583, 44675, 44740, 44772, 45069, 45078], dtype='int64')
(47333, 12)

### df 사업장명중 롱도그 글자가 들어간 행 삭제

In [131]:
s_str('롱도그')

Int64Index([11882], dtype='int64')
(47332, 12)

### df 사업장명중 스튜디오 글자가 들어간 행 삭제

In [132]:
s_str('스튜디오')

Int64Index([  213,   366,  2851,  3190,  3265,  3552,  6289,  7068,  7194,
             8185,  8277,  8430,  8920,  9537, 10209, 10337, 10681, 10966,
            11817, 12681, 12732, 13024, 15305, 16360, 16999, 17011, 18977,
            19433, 20099, 20250, 21088, 21586, 22080, 22679, 22686, 23380,
            24433, 24975, 25267, 25662, 25672, 25694, 26676, 26919, 27126,
            27182, 27347, 28107, 33019, 37171, 39942, 42168, 44001, 47689],
           dtype='int64')
(47278, 12)

### df 사업장명중 문구 글자가 들어간 행 삭제

In [133]:
s_str('문구')

Int64Index([885, 4741, 16334, 22000, 27860], dtype='int64')
(47273, 12)

### df 사업장명중 컴퓨터 글자가 들어간 행 삭제

In [134]:
s_str('컴퓨터')

Int64Index([2370, 22160], dtype='int64')
(47271, 12)

### df 사업장명중 키친 글자가 들어간 행 삭제

In [135]:
s_str('키친')

Int64Index([  340,  1801,  3762,  4147,  4355,  6106,  6508,  7108,  8420,
             9085,  9450, 13697, 14097, 14946, 14949, 15265, 16206, 17098,
            17663, 18732, 19548, 19810, 21327, 22196, 24404, 24781, 24782,
            27223, 30381, 41818, 44688],
           dtype='int64')
(47240, 12)

### df 사업장명중 실업 글자가 들어간 행 삭제

In [136]:
s_str('실업')

Int64Index([17008, 30392, 47999], dtype='int64')
(47237, 12)

In [137]:
df.shape

(47237, 12)

In [138]:
#df.to_csv('seoul_coffee_ver04.csv', index=False, encoding='cp949')