In [276]:
import pandas as pd
import numpy as np

## 1차 작업한 데이터 읽어오기

In [277]:
df = pd.read_csv("data/seoul_coffee.csv", encoding='cp949')
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
3,20200713,NaN,영업/정상,1,영업,NaN,13.20,서울특별시 관악구 신림동 608-30,서울특별시 관악구 난우길 20 지하1층 (신림동),애견용품할인매장,커피숍,192733.8329,441403.5423
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63346,20140807,NaN,폐업,2,폐업,20211207.0,26.40,서울특별시 광진구 자양동 229-1 (1층),서울특별시 광진구 아차산로44길 41 1층 (자양동),카페주전자,커피숍,206892.0792,448225.6910
63347,20140319,NaN,폐업,2,폐업,20211207.0,77.40,서울특별시 강서구 염창동 248-3 삼성하나로아파트상가 1층 104~105호,서울특별시 강서구 양천로73길 5 1층 104~105호 (염창동 삼성하나로아파트상가),커피베이 강서염창점,커피숍,188611.3283,449936.9551
63348,20130806,NaN,영업/정상,1,영업,NaN,130.15,서울특별시 성북구 길음동 20-1 현대백화점미아점 9층,서울특별시 성북구 동소문로 315 (길음동 현대백화점미아점 9층),키커피컴퍼니,기타 휴게음식점,202466.8011,456227.5717
63349,20111021,NaN,폐업,2,폐업,20211207.0,24.00,서울특별시 강서구 방화동 886-0 김포공항 공항철도역 (지하 3층),서울특별시 강서구 하늘길 지하 77 3층 (방화동 2동 김포공항 공항철도역),델트렌 김포공항역지점,커피숍,182524.8238,451438.2509
63350,20040323,NaN,폐업,2,폐업,20211207.0,13.20,서울특별시 성동구 행당동 140 레몬프라자 지하2층,서울특별시 성동구 고산자로6길 40 (행당동레몬프라자 지하2층),미라클스넥,기타 휴게음식점,203071.9592,450665.5326

## 업태구분명 컬럼으로 각각 데이터프레임 나누기

In [278]:
df1 = df[df['업태구분명'] == '커피숍']
df2 = df[df['업태구분명'] == '다방']
data = df[df['업태구분명'] == '기타 휴게음식점']

In [279]:
df1.shape

(29417, 13)

In [280]:
df2.shape

(17719, 13)

In [281]:
data.shape

(16215, 13)

## 기타 휴게음식점 컬럼
- 사업장명이 '커피' 가 포함된 열 찾기
- 사업장명이 '카페' 가 포함된 열 찾기
- 사업장명이 'cafe' 가 포함된 열 찾기
- 사업장명이 프렌차이즈 종료별로 열 찾기(유명 30개 그룹)

In [282]:
c1 = data[data['사업장명'].str.contains('커피')]
c1.shape

(601, 13)

In [283]:
c2 = data[data['사업장명'].str.contains('카페')]
c2.shape

(839, 13)

In [284]:
c3 = data[data['사업장명'].str.contains('cafe')]
c3.shape

(86, 13)

In [285]:
c4 = data[data['사업장명'].str.contains('스타벅스')]
c4.shape

(19, 13)

In [286]:
c5 = data[data['사업장명'].str.contains('투썸')]
c5.shape

(26, 13)

In [287]:
c6 = data[data['사업장명'].str.contains('메가엠지씨')]
c6.shape

(18, 13)

In [288]:
c7 = data[data['사업장명'].str.contains('메가MGC')]
c7.shape

(1, 13)

In [289]:
c8 = data[data['사업장명'].str.contains('이디야')]
c8.shape

(43, 13)

In [290]:
c9 = data[data['사업장명'].str.contains('빽다방')]
c9.shape

(12, 13)

In [291]:
c10 = data[data['사업장명'].str.contains('폴바셋')]
c10.shape

(2, 13)

In [292]:
c11 = data[data['사업장명'].str.contains('할리스')]
c11.shape

(12, 13)

In [293]:
c12 = data[data['사업장명'].str.contains('커피빈')]
c12.shape

(7, 13)

In [294]:
c13 = data[data['사업장명'].str.contains('엔제리너스')]
c13.shape

(7, 13)

In [295]:
c14 = data[data['사업장명'].str.contains('파스쿠찌')]
c14.shape

(5, 13)

In [296]:
c15 = data[data['사업장명'].str.contains('커피나무')]
c15.shape

(4, 13)

In [297]:
c16 = data[data['사업장명'].str.contains('커피베이')]
c16.shape

(18, 13)

In [298]:
c17 = data[data['사업장명'].str.contains('탐앤탐스')]
c17.shape

(10, 13)

In [299]:
c18 = data[data['사업장명'].str.contains('카페베네')]
c18.shape

(11, 13)

In [300]:
c19 = data[data['사업장명'].str.contains('더착한커피')]
c19.shape

(1, 13)

In [301]:
c20 = data[data['사업장명'].str.contains('만랩커피')]
c20.shape

(4, 13)

In [302]:
c21 = data[data['사업장명'].str.contains('달콤커피')]
c21.shape

(3, 13)

In [303]:
c22 = data[data['사업장명'].str.contains('커피에반하다')]
c22.shape

(5, 13)

In [304]:
c23 = data[data['사업장명'].str.contains('셀렉토')]
c23.shape

(5, 13)

In [305]:
c24 = data[data['사업장명'].str.contains('매머드')]
c24.shape

(11, 13)

In [306]:
c25 = data[data['사업장명'].str.contains('드롭탑')]
c25.shape

(1, 13)

In [307]:
c26 = data[data['사업장명'].str.contains('명가커피')]
c26.shape

(0, 13)

In [308]:
c27 = data[data['사업장명'].str.contains('커피스미스')]
c27.shape

(0, 13)

In [309]:
c28 = data[data['사업장명'].str.contains('커피마마')]
c28.shape

(2, 13)

In [310]:
c29 = data[data['사업장명'].str.contains('토프레소')]
c29.shape

(7, 13)

In [311]:
c30 = data[data['사업장명'].str.contains('전광수커피')]
c30.shape

(0, 13)

In [312]:
c31 = data[data['사업장명'].str.contains('빈스빈스')]
c31.shape

(1, 13)

In [313]:
c32 = data[data['사업장명'].str.contains('더카페')]
c32.shape

(8, 13)

In [314]:
c33 = data[data['사업장명'].str.contains('그라찌에')]
c33.shape

(11, 13)

In [315]:
c34 = data[data['사업장명'].str.contains('카페보니또')]
c34.shape

(1, 13)

### 검색한 열 합치기

In [316]:
d1 = pd.concat([c1,c2,c3,c3,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22,c23,c24,c25,c26,c27,c28,c29,c30,c31,c32,c33,c34], axis=0)
d1

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
54,20200715,NaN,영업/정상,1,영업,NaN,15.86,서울특별시 동대문구 제기동 847-7,서울특별시 동대문구 경동시장로9가길 2 1층 (제기동),커피하우스,기타 휴게음식점,203492.9461,453228.9501
99,20200113,NaN,영업/정상,1,영업,NaN,34.31,서울특별시 강동구 둔촌동 430번지,서울특별시 강동구 양재대로102길 39 (둔촌동),월디커피로스터스,기타 휴게음식점,212344.8723,447791.7748
178,20200721,NaN,영업/정상,1,영업,NaN,18.26,서울특별시 종로구 종로1가 24 르메이에르종로타운1,서울특별시 종로구 종로 19 르메이에르종로타운1 1층 116-1호 (종로1가),로그인커피,기타 휴게음식점,198150.3004,452019.2126
188,20200113,NaN,폐업,2,폐업,20200603.0,25.00,서울특별시 마포구 망원동 399-36번지,서울특별시 마포구 포은로 87 1층 (망원동),스몰커피,기타 휴게음식점,191541.9711,450286.6198
190,20180921,NaN,폐업,2,폐업,20200717.0,27.30,서울특별시 마포구 동교동 188-24 이끼,서울특별시 마포구 와우산로32길 31-6 이끼 1층 (동교동),칼마토커피라운지(calmato coffee lounge),기타 휴게음식점,193902.4492,450303.8818
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29016,20021004,NaN,폐업,2,폐업,20061124.0,26.40,서울특별시 양천구 신정동 1032-10번지,NaN,그라찌에(신정점),기타 휴게음식점,186995.2866,446337.4309
56438,20200915,NaN,영업/정상,1,영업,NaN,67.83,서울특별시 노원구 공릉동 126 서울여자대학교,서울특별시 노원구 화랑로 621 서울여자대학교 1층 (공릉동),그라찌에 서울여대점,기타 휴게음식점,207918.3204,458383.9834
56848,20111215,NaN,영업/정상,1,영업,NaN,22.50,서울특별시 성북구 삼선동2가 389 한성대학교 미래관 지하1층,서울특별시 성북구 삼선교로16길 116 (삼선동2가),그라찌에 한성대학교점,기타 휴게음식점,200836.1699,453384.7261
59077,20150904,NaN,폐업,2,폐업,20210318.0,69.30,서울특별시 광진구 화양동 1 건국대내 생명과학관1층,서울특별시 광진구 능동로 120 (화양동 건국대내 생명과학관1층),그라찌에 건국대생명과학관점,기타 휴게음식점,206445.8811,448922.8817
58409,20100713,NaN,폐업,2,폐업,20210122.0,52.80,서울특별시 송파구 잠실동 298-9 지상1층,서울특별시 송파구 백제고분로12길 14 지상1층 (잠실동),카페보니또 잠실점,기타 휴게음식점,207058.4226,444759.8879

In [317]:
d1['사업장명'].unique

<bound method Series.unique of 54                                 커피하우스
99                              월디커피로스터스
178                                로그인커피
188                                 스몰커피
190      칼마토커피라운지(calmato coffee lounge)
                      ...
29016                          그라찌에(신정점)
56438                         그라찌에 서울여대점
56848                        그라찌에 한성대학교점
59077                     그라찌에 건국대생명과학관점
58409                          카페보니또 잠실점
Name: 사업장명, Length: 1848, dtype: object>

In [318]:
d1.sort_index(ascending=True)

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
54,20200715,NaN,영업/정상,1,영업,NaN,15.86,서울특별시 동대문구 제기동 847-7,서울특별시 동대문구 경동시장로9가길 2 1층 (제기동),커피하우스,기타 휴게음식점,203492.9461,453228.9501
65,20200715,NaN,영업/정상,1,영업,NaN,44.45,서울특별시 마포구 상암동 1740 월드컵파크 프라자,서울특별시 마포구 월드컵북로 502 월드컵파크 프라자 1층 107호 (상암동),카페게이트 상암하늘초점,기타 휴게음식점,189315.3706,453647.3493
79,20200716,NaN,영업/정상,1,영업,NaN,41.34,서울특별시 강서구 등촌동 717 그레이스힐 B209호,서울특별시 강서구 양천로 470 그레이스힐 지하2층 B-209호 (등촌동),24시무인카페RO,기타 휴게음식점,186899.2415,451093.0222
94,20200716,NaN,영업/정상,1,영업,NaN,364.62,서울특별시 마포구 서교동 358-58 태윤빌딩,서울특별시 마포구 와우산로21길 36-3 태윤빌딩 2~4층 (서교동),투썸플레이스 홍대예술의거리점,기타 휴게음식점,193020.6534,450030.6293
99,20200113,NaN,영업/정상,1,영업,NaN,34.31,서울특별시 강동구 둔촌동 430번지,서울특별시 강동구 양재대로102길 39 (둔촌동),월디커피로스터스,기타 휴게음식점,212344.8723,447791.7748
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63172,20211122,NaN,폐업,2,폐업,20211128.0,0.00,서울특별시 서초구 양재동 232 AT센터 제1전시장 1층,서울특별시 서초구 강남대로 27 AT센터 제1전시장 1층 (양재동),카페큐브,기타 휴게음식점,203392.7935,440676.3799
63225,20211201,NaN,영업/정상,1,영업,NaN,33.00,서울특별시 강북구 수유동 10-32,서울특별시 강북구 노해로11길 9 101호 (수유동),펠어커피초코,기타 휴게음식점,201885.6884,459615.9318
63250,20211202,NaN,영업/정상,1,영업,NaN,31.00,서울특별시 은평구 대조동 224-18,서울특별시 은평구 연서로 144 1층 (대조동),컴포즈커피,기타 휴게음식점,192656.1168,456593.9995
63258,20211201,NaN,영업/정상,1,영업,NaN,23.00,서울특별시 은평구 신사동 342-20,서울특별시 은평구 증산로15길 30 1층 (신사동),파파베어커피,기타 휴게음식점,192007.8893,454179.4221
63348,20130806,NaN,영업/정상,1,영업,NaN,130.15,서울특별시 성북구 길음동 20-1 현대백화점미아점 9층,서울특별시 성북구 동소문로 315 (길음동 현대백화점미아점 9층),키커피컴퍼니,기타 휴게음식점,202466.8011,456227.5717

### 중복 열 제거

In [319]:
d1 = d1.drop_duplicates()
d1.shape

(1585, 13)

## 업태구분명(커피숍+다방+기타휴게음식점) 합치기

In [326]:
df = pd.concat([df1, df2, d1], axis=0)
df.shape

(48721, 13)

In [327]:
df.sort_index(ascending=True)

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
3,20200713,NaN,영업/정상,1,영업,NaN,13.20,서울특별시 관악구 신림동 608-30,서울특별시 관악구 난우길 20 지하1층 (신림동),애견용품할인매장,커피숍,192733.8329,441403.5423
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63345,20141016,NaN,폐업,2,폐업,20211207.0,10.00,서울특별시 관악구 신림동 1432-138,서울특별시 관악구 신림로67길 24 1층 (신림동),쉼표(Shym Pyo),커피숍,193556.1658,442641.2897
63346,20140807,NaN,폐업,2,폐업,20211207.0,26.40,서울특별시 광진구 자양동 229-1 (1층),서울특별시 광진구 아차산로44길 41 1층 (자양동),카페주전자,커피숍,206892.0792,448225.6910
63347,20140319,NaN,폐업,2,폐업,20211207.0,77.40,서울특별시 강서구 염창동 248-3 삼성하나로아파트상가 1층 104~105호,서울특별시 강서구 양천로73길 5 1층 104~105호 (염창동 삼성하나로아파트상가),커피베이 강서염창점,커피숍,188611.3283,449936.9551
63348,20130806,NaN,영업/정상,1,영업,NaN,130.15,서울특별시 성북구 길음동 20-1 현대백화점미아점 9층,서울특별시 성북구 동소문로 315 (길음동 현대백화점미아점 9층),키커피컴퍼니,기타 휴게음식점,202466.8011,456227.5717
63349,20111021,NaN,폐업,2,폐업,20211207.0,24.00,서울특별시 강서구 방화동 886-0 김포공항 공항철도역 (지하 3층),서울특별시 강서구 하늘길 지하 77 3층 (방화동 2동 김포공항 공항철도역),델트렌 김포공항역지점,커피숍,182524.8238,451438.2509

In [329]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48721 entries, 0 to 59077
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   인허가일자     48721 non-null  int64
 1   인허가취소일자   0 non-null      float64
 2   영업상태명     48721 non-null  object
 3   상세영업상태코드  48721 non-null  int64
 4   상세영업상태명   48721 non-null  object
 5   폐업일자      31972 non-null  float64
 6   소재지면적     45103 non-null  float64
 7   지번주소      48671 non-null  object
 8   도로명주소     31173 non-null  object
 9   사업장명      48721 non-null  object
 10  업태구분명     48721 non-null  object
 11  좌표정보(X)   46466 non-null  float64
 12  좌표정보(Y)   46466 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 5.2+ MB

In [328]:
# df.to_csv('seoul_coffee.csv', index=False, encoding='cp949')